<div class="container">
    <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad()">
        <ngx-tile NgxCarouselItem *ngFor="let tile of carouselTileItems; let i = index;">
            <div class="containerslide">
                <div class="tile">
                <fusioncharts
                    [width]="width"
                    [height]="height"
                    [type]="type"
                    [dataFormat]="dataFormat"
                    [dataSource]="dataSource">
                </fusioncharts>
                </div>
            </div>
        </ngx-tile>
        <button NgxCarouselPrev class="leftRs">&lt;</button>
        <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>
</div>




