<!--Navbar-->
<div class="container-fluid navContainer">
    <nav class="navbar navbar-expand-lg navbar-dark primary-color navbarStyle">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#"><img class="logo" src="assets/img/logo.png"></a>
    
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
    
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link navbarText" href="#">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarText" href="#">Sell</a>
                </li>
            </ul>
            <!-- Links -->
    
            <form class="form-inline">
                <div class="md-form mt-0">
                  here
                </div>
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
</div>
