<!--Navbar-->
<div class="container-fluid navbarStyle">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                            <a class="navbar-brand" href="#"><img class="logo" src="assets/img/logo.png"></a>
                            <div class="navLink">
                                    Buy
                            </div>
                            <div class="navLink">
                                    Sell
                            </div>
                            <div class="navLink">
                                Leaderboards
                            </div>
                            <div class="navLink">
                                    FAQ
                            </div>
                            <div class="navLink">
                                    Support
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="pull-right myAccountBox">
                    <div class="row">
                            <img class ="avatarImg" src="assets/img/avatar.png">
                             <div class="myAccountText">
                                    Welcome DrN
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
