<div class="card cardspecs">
  <div class="container">
    <div class="row">
      <div class="col-12 pepetitle">
          <div class="text-center">Pepe Market</div>
      </div>
    </div>

    <div class="row">
      <div class="col-3 text-center titlesText">
        Symbol
      </div>
      <div class="col-3 text-center titlesText">
          Last Price
      </div>
      <div class="col-3 text-center titlesText">
          Change
      </div>
      <div class="col-3 text-center titlesText">
          %Change
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-center">
        <img class="pepeicons" src="../../assets/img/pepes/0e9.jpg">
      </div>
      <div class="col-3 text-center priceText">
          Ք3213.12
      </div>
      <div class="col-3 text-center priceText">
          Ք123.25
      </div>
      <div class="col-3 text-center priceText">
          3.8%
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3 text-center">
        <img class="pepeicons" src="../../assets/img/pepes/download.jpg">
      </div>
      <div class="col-3 text-center priceText">
          Ք3213.12
      </div>
      <div class="col-3 text-center priceText">
          Ք123.25
      </div>
      <div class="col-3 text-center priceText">
          3.8%
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3 text-center">
        <img class="pepeicons" src="../../assets/img/pepes/f73.jpg">
      </div>
      <div class="col-3 text-center priceText">
          Ք3213.12
      </div>
      <div class="col-3 text-center priceText">
          Ք123.25
      </div>
      <div class="col-3 text-center priceText">
          3.8%
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3 text-center">
          <img class="pepeicons" src="../../assets/img/pepes/0e9.jpg">
        </div>
        <div class="col-3 text-center priceText">
            Ք3213.12
        </div>
        <div class="col-3 text-center priceText">
            Ք123.25
        </div>
        <div class="col-3 text-center priceText">
            3.8%
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3 text-center">
          <img class="pepeicons" src="../../assets/img/pepes/download.jpg">
        </div>
        <div class="col-3 text-center priceText">
            Ք3213.12
        </div>
        <div class="col-3 text-center priceText">
            Ք123.25
        </div>
        <div class="col-3 text-center priceText">
            3.8%
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-3 text-center">
          <img class="pepeicons" src="../../assets/img/pepes/f73.jpg">
        </div>
        <div class="col-3 text-center priceText">
            Ք3213.12
        </div>
        <div class="col-3 text-center priceText">
            Ք123.25
        </div>
        <div class="col-3 text-center priceText">
            3.8%
        </div>
      </div>
      <hr>
  </div>
  
</div>